<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>noochla-or-nicholas-ch08-hands-on</title>
	<style>
		#two {
			background-color: #FFE4E1;

		}
		#three tr:nth-of-type(even) {
			background-color: #FFE4B5;
		}
		#four tbody tr td{
			border-collapse: collapse;
			border:2px solid blue ;
		}
		#four tr:nth-of-type(odd){
			background-color: #B0E0E6;
		}
		#four tr:nth-of-type(even){
			background-color: #ADD8E6;
		}
		

	</style>
</head>
<body>

<hr>
<h1>2.</h1>
<table id="two" cellpadding="8px">
	<caption>
			<tr>
				<th colspan="2">Historical Figure</th>
				<th>Birthdays</th>
			</tr>
			<tr>
				<td>Elon Musk</td>
				<td>June 28,1971</td>
			</tr>
			<tr>
				<td>Tim Berners-Lee</td>
				<td>June 08,1955</td>
			</tr>
			<tr>
				<td>Howard Hughes</td>
				<td>December 24,1905</td>
			</tr>
	</caption>
</table>
	


<hr>
<h1>3.</h1>
<table id="three" cellpadding="8px">
	<caption>
		<thead>
			<tr>
				<th>Course ID number</th>
				<th>Course Name</th>
				<th>Instructor</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>4103</td>
				<td>CS3 - Introduction To Computer Systems</td>
				<td>Marchand K A</td>
			</tr>
			<tr>
				<td>4108</td>
				<td>CS 4 - Operating Systems</td>
				<td>Morgan D B</td>
			</tr>
			<tr>
				<td>3394</td>
				<td>CS50 C Programming</td>
				<td>Darwiche J</td>
			</tr>
		</tbody>
	</caption>
</table>

<hr>
<h1>4.</h1>
<table id="four" cellpadding="8">
	<thead>
		<th>Podcast</th>
		<th>Host</th>
	</thead>
	<tbody>
		<tr>
			<td>FiveJS</td>
			<td>Sergio Cruz</td>
		</tr>
		<tr>
			<td>Adventures in Angular</td>
			<td>Charles Max Wood</td>
		</tr>
		<tr>
			<td>Boagworld</td>
			<td>Paul Boag</td>
		</tr>
		<tr>
			<td>Shop Talk Show</td>
			<td>Chris Coyier and David Ruport</td>
		</tr>
		<tr>
			<td>The Big Web Show</td>
			<td>Jeffrey Zeldman</td>
		</tr>
		<tr>
			<td>NodeUp</td>
			<td>Rod Vagg and Tim Oxley</td>
		</tr>
	</tbody>
</table>

</body>
</html>